.users {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #21252a;
  }
  .users h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 800;
  }
  
  .alluser {
      margin: 20px auto;
      font-size: 20px;
      color: #21252a;
      text-align: center;
      font-weight: 700;
      letter-spacing: 1px;
      border-spacing: 10px;
      border-collapse: separate;
  }
  
  .alluser th {
    background-color: #21252a;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .alluser td
  {
      padding: 10px;
      color: black;
      background-color: #c0deed;
  }