.contact
{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    color: #21252a;
}

.contact h1
{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

.contact form
{
    margin: 20px auto;
    width: 300px;
    height: 300px;
    padding: 5px 15px;
}

.contact form input
{
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    padding: 7px 15px;
    border-radius: 20px;
    border: 1px solid #21252a;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact form input::placeholder
{
    text-align: center;
    color: grey;
    font-weight: 500;    
}

.contact form input[type=number]::-webkit-inner-spin-button, 
.contact form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.btn
{
    background-color: #21252a;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover
{
    background-color: #000;
}